{% extends 'base.html' %}

{% block title %}Список пользователей{% endblock %}

{% block content %}

<style>
    .users-list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;
    }

    h1 {
        flex: 1;
        text-align: center;
        font-size: 2em;
    }

    .users-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .user-item {
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        padding: 20px;
        margin: 20px 0;
        width: 80%;
        transition: transform 0.3s;
    }

    .user-item:hover {
        transform: scale(1.02);
    }

    .user-item h2 {
        color: #007BFF;
    }

    .user-item h2 {
    color: #007BFF;
    margin-bottom: 15px; /* Отступ снизу для заголовка */
    }

    .user-item p {
        margin-top: 10px; /* Отступ сверху для параграфов */
        margin-bottom: 10px; /* Отступ снизу для параграфов */
    }

    .user-item .user-button, .user-item .delete-button {
        display: inline-block;
        margin-top: 10px; /* Отступ сверху для кнопок */
    }

    .user-button {
        display: inline-block;
        background-color: #007BFF;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
        margin-top: 10px;
    }

    .user-button:hover {
        background-color: #0056b3;
    }

    .delete-button {
        display: inline-block;
        background-color: #FF4C4C;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
        margin-top: 10px;
    }

    .delete-button:hover {
        background-color: #CC0000;
    }

    .create-user-button {
        background-color: #007BFF; /* Синий цвет для кнопки */
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для кнопки */
        border: none; /* Убираем границу */
        font-size: 1em; /* Размер текста */
    }

    .create-user-button:hover {
        background-color: #0056b3; /* Более темный синий при наведении */
    }
</style>

<div class="users-list-container">
    <div class="header">
        <h1>Список пользователей</h1>
        <a href="" class="create-user-button">Создать пользователя</a>
    </div>
    <div class="users-list">
        {% for user in users %}
        <div class="user-item">
            <h2>{{ user.username }}</h2>
            <p>Роль: {{ user.role }}</p>
            <p>Роль: {{ user.date_of_birth }}</p>
            <a href="" class="user-button">Просмотреть</a>
            <a href="" class="delete-button">Удалить</a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
